{% extends "base.html" %}

{% block content %}
    <div id="navbar">
        <ul>
            <li class="onit"><a href="burgers"><img src="/static/burger-icon.png"></a></li>
            <li><a href="sides"><img src="/static/fries-icon.png"></a></li>
            <li ><a href="drinks"><img src="/static/drinks-icon.png"></a></li>
            <li><a href="order"><img src="/static/order-icon.png"></a></li>
            
            
        </ul>
    </div>
    <div class="grid-container">
        <div class="grid-item"><a href="customise/PyThane" title="PyThane"><img src="/static/PyThane-icon.png"></a></div>
        <div class="grid-item"><a href="customise/PyCheeseburger" title="PyCheeseburger"><img src="/static/burger-icon.png"></a></div>
        <div class="grid-item"><a href="customise/PyChicken" title="PyChicken"><img src="/static/PyChicken-icon.png"></a></div>
        <div class="grid-item"><a href="customise/PyVeggie" title="PyVeggie"><img src="/static/PyVeggie-icon.png"></a></div>
    </div> 
{% endblock content %}