{% extends "base.html" %}

{% block content %}
    <div id="navbar">
        <ul>
            <li><a href="burgers"><img src="/static/burger-icon.png"></a></li>
            <li><a href="sides"><img src="/static/fries-icon.png"></a></li>
            <li class="onit"><a href="drinks"><img src="/static/drinks-icon.png"></a></li>
            <li><a href="order"><img src="/static/order-icon.png"></a></li>
            
            
        </ul>
    </div>
    <div class="grid-container">
        <div class="grid-item"><a href="customise/PyPsi" title="PyPsi"><img src="/static/drinks-icon.png"></a></div>
        <div class="grid-item"><a href="customise/Grimace_Shake" title="Grimace Shake"><img src="/static/drinks-icon.png"></a></div>
        <div class="grid-item"><a href="customise/Vanilla_Shake" title="Vanilla Shake"><img src="/static/drinks-icon.png"></a></div>
        <div class="grid-item"><a href="customise/Chocolate_Shake" title="Chocolate Shake"><img src="/static/drinks-icon.png"></a></div>

    </div> 
{% endblock content %}